body {
	margin:0;
	font-family:sans-serif;
}

button {
	cursor: pointer;
}

.contentWrapper{
	height: calc(100% - 60px);
}

.taskArea{
	overflow-y: auto;
	width:45%;
	padding-left:50px;
	position:absolute;
	top:60px;
	bottom:0px;
}

.rightSide{
	position:absolute;
	right:30px;
	top:60px;
	bottom:0px;
	width:45%;
}

.drawerWrapper{
	overflow:hidden;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.routine {
	display:block;
	font-size:24pt;
	width:250px;
	padding:10px;
}

.task {
	display:block;
	font-size:24pt;
	width:400px;
	padding:10px;
}

.current{
	background-color:#0F0;
}

.completed{
	background-color:#770;
	text-decoration:line-through;
	cursor:not-allowed;
}

.unstarted{
	background-color:#77F;
}

.subtaskDiv {
	padding-left:100px;
	border-left:1px solid #CCC;
	overflow:hidden;
	transform-origin:top left;
	max-height: 0;
	transition: max-height .5s;
}

.routineName {
	width:100%;
	margin:0 auto;
	text-align:center;
	font-size:36pt;
	min-height:60px;
}

.crumbs {
	width:90%;
	text-align:center;
}

.toggleRoutines {
	font-size: 18pt;
	position:absolute;
	top:5px;
	left:10px;
	border:none;
	background-color: #FFF;
	z-index:10;
}

.settings {
	position:absolute;
	right:-310px;
	top:0;
	width: 300px;
	min-width:300px;
	border-left:solid 3px #000;
	height:100%;
	padding: 0 0 0 10px;
	margin:0;
	z-index:100;
	background-color:#EEE;
	transition: right .5s;
}

.settingsExpanded {
	right:0px;
}

.routineArea{
	position:absolute;
	left:-310px;
	top:0;
	width: 300px;
	min-width:300px;
	border-right:solid 3px #000;
	height:100%;
	padding: 0 0 0 10px;
	margin:0;
	z-index:100;
	background-color:#EEE;
	transition: left .5s;
}

.routineAreaExpanded {
	left:0;
}

.settingsBtn{
	font-size: 18pt;
	position:absolute;
	top:5px;
	right:10px;
	border:none;
	background-color: #FFF;
	z-index:10;
}

.closeSettings{
	float:right;
	font-size: 18pt;
	border:none;
	background-color: #FFF;
}

.closeRoutines{
	float:right;
	font-size: 18pt;
	border:none;
	background-color: #FFF;
}

.timerDisplay {
	font-size:48pt;
}

.timerButton {
	font-size:36pt;
	margin:10px;
}

.btnDone{
	position:absolute;
	top:0;
	left:0;
	font-size:24pt;
	padding:10px;
}

.btnRemind{
	position:absolute;
	top:0;
	left:0;
	font-size:24pt;
	padding:10px;
}

.completedColHeader{
	cursor:pointer;
}

.hide{
	display:none;
}

.notAllowed{
	cursor:not-allowed;
	background-color:#F22;
	text-decoration:italic;
	font-style: italic;
	color:#922;
}