body {
	margin:0;
	font-family:sans-serif;
	overflow:hidden;
	overflow-y:auto;
}

.contentWrapper{
	display:flex;
	flex-wrap:wrap;
}

.taskArea{
	padding-left:50px;	
	padding-right:375px;
	display:block;
}

.completedArea{
	display:block;
	padding-left:50px;
}

.rightMenu {
	position:fixed;
	right:-310px;
	width:300px;
	top:0;
	border-left:solid 3px #000;
	height:100%;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
	z-index:100;
	background-color:#EEE;
	transition: right .5s;
	overflow:hidden;
}

.rightMenuExpanded {
	right:0px;
}

.routineArea{
	position:fixed;
	left:-460px;
	top:0;
	width: 450px;
	min-width:450px;
	border-right:solid 3px #000;
	height:100%;
	padding: 0 0 0 10px;
	margin:0;
	z-index:100;
	background-color:#EEE;
	overflow-y:auto;
	transition: left .5s;
}

.routineAreaExpanded {
	left:0;
}

.routine {
	display:block;
	font-size:24pt;
	min-height:64px;
	line-height:64px;
	width:400px;
	padding:10px;
	margin: 5px 0;
	cursor: pointer;
	border:solid 2px #000;
}

.routineText{
	line-height:64px;
}

.task {
	display:block;
	font-size:24pt;
	height:64px;
	line-height:64px;
	width:400px;
	padding:10px;
	margin: 5px 0;
	cursor: pointer;
	text-align:center;
	border:solid 2px #000;
}

.taskText{
	line-height:64px;
}

.btnIcon{
	height:64px;
	width:64px;
	float:right;
}

.toggleRoutines {
	font-size: 18pt;
	position:fixed;
	top:5px;
	left:10px;
	border:none;
	background-color: #FFF;
	z-index:10;
}

.menuBtn{
	font-size: 18pt;
	position:fixed;
	top:5px;
	right:10px;
	border:none;
	background-color: #FFF;
	z-index:10;
}

.closeMenu{
	float:right;
	font-size: 18pt;
	border:none;
	background-color: #FFF;
}

.closeRoutines{
	float:left;
	font-size: 18pt;
	border:none;
	background-color: #FFF;
}

.current{
	background-color:#0F0;
	text-decoration:underline;
}

.completed{
	background-color:#4b38f2;
	text-decoration:line-through;
	cursor:not-allowed;
}

.unstarted{
	background-color:#f2b138;
}

.subtaskDiv {
	padding-left:50px;
	border-left:1px solid #CCC;
	overflow:hidden;
	transform-origin:top left;
	max-height: 0;
	transition: max-height .5s;
}

.topRow{
	width:100%;
	text-align:center;
}

.routineName {
	font-size:36pt;
	min-height:60px;
	display:inline-block;
	vertical-align:top;
}

.routineIcon{
	display:inline-block;
	vertical-align:top;
	width:64px;
	height:64px;
}

.floatyButtons{
	position: absolute;
	display:flex;
	width: 390px;
    height: 89px;
	background-color:#FFF;
}

.timer{
	width:170px;
	height:80px;
	text-align:center;
}

.timerDisplay {
	font-size:42pt;
	cursor: pointer;
	margin-top:-10px;
}

.timerButton {
	font-size:18pt;
	margin:0px 4px;
	cursor: pointer;
}

.btnDone{
	font-size:24pt;
	padding:10px;
	margin: 0 5px;
	width: 64px;
	cursor: pointer;
}

.remindArea {
	font-size:18pt;
	width:135px;
	margin: 0 5px;
}

.colorLabel{
	width:125px;
	display:inline-block;
}

.btnRemind{
	font-size:24pt;
	padding:10px;
	cursor: pointer;
}

.remindDisplay{
	text-align:center;
	padding-top:3px;
}

.completedColHeader{
	cursor:pointer;
}

.hide{
	display:none;
}

.notAllowed{
	cursor:not-allowed;
	background-color:#F22;
	text-decoration:line-through;
	color:#922;
}

.graphModalWrapper{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#0003;
	z-index:100;
}

.graphModal{
	position:fixed;
	top:5%;
	bottom:5%;
	left:5%;
	right:5%;
	background-color:#FFF;
	padding:10px;
	border-radius:10px;
}

.closeMenuButton{
	cursor:pointer;
	float:right;
	font-size: 18pt;
	border:none;
	background-color: #FFF;
}

.graphOptions{
	width:400px;
	min-width:400px;
	height:100%;
	border-right:solid 1px #000;
	text-align:center;
}

.graphOptionWrapper{
	margin: 10px 0px;
}

.graphOptionWrapper > label{
	width:100px;
	display:inline-block;
}

.graphOption{
	width:50%;
}

.graphData{
	overflow-y: auto;
    height: calc(100% - 130px);
	font-size: 10pt;
}

.tableBody>tr:nth-child(even){
	background-color:#CCC;
}

.graphButton{
	width:calc(100px + 50%);
	height:50px;
	font-size:14pt;
}

.graphWrapper{
	display:flex;
	height:calc(100% - 50px);;
}

.graph{
	width:100%;
	height:100%;
}

.tableBody > tr > td {
	padding:0 5px;
	text-align:left;
}