body {
	margin:0;
	font-family:sans-serif;
	font-size:16pt;
}

a {
	font-weight:bold;
	margin:5px 0;
}

li{
	font-size:12pt;
}

.menuBar{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:50px;
	min-height:50px;
	display:flex;
	background-color:#FFFFFF;
	border-bottom:solid 1px #000000;
}

.menuItem{
	line-height:50px;
}

.menuLinksWrapper{
	position:fixed;
	right:10px;
}
.menuLink{
	width:120px;
	display:inline-block;
}

.title{
	font-size:24pt;
	width:33%;
}

.contentWrapper{
	padding-top:50px;
	margin:0 auto;
}

.rowWrapper {
	margin:0 auto;
	border-bottom:solid 1px #999;
}

.row{
	height:300px;
	min-height:300px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.imageBlock {
	width:550px;
	height:300px;
	padding:0 10px;
	text-align:center;
	line-height:300px;//remove list line
}

.image{
	max-width:550px;
	max-height:300px;
}

.textBlock{
	width:250px;
	height:300px;
	padding:0 10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.footer{
	padding:25px 10px;
	font-size:10pt;
	text-align:center;
}

.build{
	position:fixed;
	bottom:0;
	right:0;
	color:#CCC;
	font-size:10pt;
}